<?xml version='1.0' encoding='UTF-8' standalone='no'?>
<doxygen xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="compound.xsd" version="1.8.1.1">
  <compounddef id="vtkfiltering_vtkabstractmapper" kind="page">
    <compoundname>vtkfiltering_vtkabstractmapper</compoundname>
    <title>vtkAbstractMapper</title>
    <detaileddescription>
<para>Section: <ref refid="sec_vtkfiltering_1sec_vtkfiltering" kindref="member">Visualization Toolkit Filtering Classes</ref> </para><sect1 id="vtkwidgets_vtkxyplotwidget_1Usage">
<title>Usage</title>
<para>vtkAbstractMapper is an abstract class to specify interface between data and graphics primitives or software rendering techniques. Subclasses of vtkAbstractMapper can be used for rendering 2D data, geometry, or volumetric data.</para><para>To create an instance of class vtkAbstractMapper, simply invoke its constructor as follows <verbatim>  obj = vtkAbstractMapper
</verbatim> </para></sect1>
<sect1 id="vtkwidgets_vtkxyplotwidget_1Methods">
<title>Methods</title>
<para>The class vtkAbstractMapper has several methods that can be used. They are listed below. Note that the documentation is translated automatically from the VTK sources, and may not be completely intelligible. When in doubt, consult the VTK website. In the methods listed below, <computeroutput>obj</computeroutput> is an instance of the vtkAbstractMapper class. <itemizedlist>
<listitem>
<para><computeroutput>string = obj.GetClassName ()</computeroutput>  </para></listitem>
<listitem>
<para><computeroutput>int = obj.IsA (string name)</computeroutput>  </para></listitem>
<listitem>
<para><computeroutput>vtkAbstractMapper = obj.NewInstance ()</computeroutput>  </para></listitem>
<listitem>
<para><computeroutput>vtkAbstractMapper = obj.SafeDownCast (vtkObject o)</computeroutput>  </para></listitem>
<listitem>
<para><computeroutput>long = obj.GetMTime ()</computeroutput> - Override Modifiedtime as we have added Clipping planes  </para></listitem>
<listitem>
<para><computeroutput>obj.ReleaseGraphicsResources (vtkWindow )</computeroutput> - Release any graphics resources that are being consumed by this mapper. The parameter window could be used to determine which graphic resources to release.  </para></listitem>
<listitem>
<para><computeroutput>double = obj.GetTimeToDraw ()</computeroutput> - Get the time required to draw the geometry last time it was rendered  </para></listitem>
<listitem>
<para><computeroutput>obj.AddClippingPlane (vtkPlane plane)</computeroutput> - Specify clipping planes to be applied when the data is mapped (at most 6 clipping planes can be specified).  </para></listitem>
<listitem>
<para><computeroutput>obj.RemoveClippingPlane (vtkPlane plane)</computeroutput> - Specify clipping planes to be applied when the data is mapped (at most 6 clipping planes can be specified).  </para></listitem>
<listitem>
<para><computeroutput>obj.RemoveAllClippingPlanes ()</computeroutput> - Specify clipping planes to be applied when the data is mapped (at most 6 clipping planes can be specified).  </para></listitem>
<listitem>
<para><computeroutput>obj.SetClippingPlanes (vtkPlaneCollection )</computeroutput> - Get/Set the vtkPlaneCollection which specifies the clipping planes.  </para></listitem>
<listitem>
<para><computeroutput>vtkPlaneCollection = obj.GetClippingPlanes ()</computeroutput> - Get/Set the vtkPlaneCollection which specifies the clipping planes.  </para></listitem>
<listitem>
<para><computeroutput>obj.SetClippingPlanes (vtkPlanes planes)</computeroutput> - An alternative way to set clipping planes: use up to six planes found in the supplied instance of the implicit function vtkPlanes.  </para></listitem>
<listitem>
<para><computeroutput>obj.ShallowCopy (vtkAbstractMapper m)</computeroutput> - Make a shallow copy of this mapper.  </para></listitem>
</itemizedlist>
</para></sect1>
    </detaileddescription>
  </compounddef>
</doxygen>
