<?xml version='1.0' encoding='UTF-8' standalone='no'?>
<doxygen xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="compound.xsd" version="1.8.1.1">
  <compounddef id="vtkrendering_vtklabeleddatamapper" kind="page">
    <compoundname>vtkrendering_vtklabeleddatamapper</compoundname>
    <title>vtkLabeledDataMapper</title>
    <detaileddescription>
<para>Section: <ref refid="sec_vtkrendering_1sec_vtkrendering" kindref="member">Visualization Toolkit Rendering Classes</ref> </para><sect1 id="vtkwidgets_vtkxyplotwidget_1Usage">
<title>Usage</title>
<para>vtkLabeledDataMapper is a mapper that renders text at dataset points. Various items can be labeled including point ids, scalars, vectors, normals, texture coordinates, tensors, and field data components.</para><para>The format with which the label is drawn is specified using a printf style format string. The font attributes of the text can be set through the vtkTextProperty associated to this mapper.</para><para>By default, all the components of multi-component data such as vectors, normals, texture coordinates, tensors, and multi-component scalars are labeled. However, you can specify a single component if you prefer. (Note: the label format specifies the format to use for a single component. The label is creating by looping over all components and using the label format to render each component.)</para><para>To create an instance of class vtkLabeledDataMapper, simply invoke its constructor as follows <verbatim>  obj = vtkLabeledDataMapper
</verbatim> </para></sect1>
<sect1 id="vtkwidgets_vtkxyplotwidget_1Methods">
<title>Methods</title>
<para>The class vtkLabeledDataMapper has several methods that can be used. They are listed below. Note that the documentation is translated automatically from the VTK sources, and may not be completely intelligible. When in doubt, consult the VTK website. In the methods listed below, <computeroutput>obj</computeroutput> is an instance of the vtkLabeledDataMapper class. <itemizedlist>
<listitem>
<para><computeroutput>string = obj.GetClassName ()</computeroutput>  </para></listitem>
<listitem>
<para><computeroutput>int = obj.IsA (string name)</computeroutput>  </para></listitem>
<listitem>
<para><computeroutput>vtkLabeledDataMapper = obj.NewInstance ()</computeroutput>  </para></listitem>
<listitem>
<para><computeroutput>vtkLabeledDataMapper = obj.SafeDownCast (vtkObject o)</computeroutput>  </para></listitem>
<listitem>
<para><computeroutput>obj.SetLabelFormat (string )</computeroutput> - Set/Get the format with which to print the labels. This should be a printf-style format string.</para><para>By default, the mapper will try to print each component of the tuple using a sane format: d for integers, f for floats, g for doubles, ld for longs, et cetera. If you need a different format, set it here. You can do things like limit the number of significant digits, add prefixes/suffixes, basically anything that printf can do. If you only want to print one component of a vector, see the ivar LabeledComponent.  </para></listitem>
<listitem>
<para><computeroutput>string = obj.GetLabelFormat ()</computeroutput> - Set/Get the format with which to print the labels. This should be a printf-style format string.</para><para>By default, the mapper will try to print each component of the tuple using a sane format: d for integers, f for floats, g for doubles, ld for longs, et cetera. If you need a different format, set it here. You can do things like limit the number of significant digits, add prefixes/suffixes, basically anything that printf can do. If you only want to print one component of a vector, see the ivar LabeledComponent.  </para></listitem>
<listitem>
<para><computeroutput>obj.SetLabeledComponent (int )</computeroutput> - Set/Get the component number to label if the data to print has more than one component. For example, all the components of scalars, vectors, normals, etc. are labeled by default (LabeledComponent=(-1)). However, if this ivar is nonnegative, then only the one component specified is labeled.  </para></listitem>
<listitem>
<para><computeroutput>int = obj.GetLabeledComponent ()</computeroutput> - Set/Get the component number to label if the data to print has more than one component. For example, all the components of scalars, vectors, normals, etc. are labeled by default (LabeledComponent=(-1)). However, if this ivar is nonnegative, then only the one component specified is labeled.  </para></listitem>
<listitem>
<para><computeroutput>obj.SetFieldDataArray (int arrayIndex)</computeroutput> - Set/Get the field data array to label. This instance variable is only applicable if field data is labeled. This will clear FieldDataName when set.  </para></listitem>
<listitem>
<para><computeroutput>int = obj.GetFieldDataArray ()</computeroutput> - Set/Get the field data array to label. This instance variable is only applicable if field data is labeled. This will clear FieldDataName when set.  </para></listitem>
<listitem>
<para><computeroutput>obj.SetFieldDataName (string arrayName)</computeroutput> - Set/Get the name of the field data array to label. This instance variable is only applicable if field data is labeled. This will override FieldDataArray when set.  </para></listitem>
<listitem>
<para><computeroutput>string = obj.GetFieldDataName ()</computeroutput> - Set/Get the name of the field data array to label. This instance variable is only applicable if field data is labeled. This will override FieldDataArray when set.  </para></listitem>
<listitem>
<para><computeroutput>obj.SetInput (vtkDataObject )</computeroutput> - Set the input dataset to the mapper. This mapper handles any type of data.  </para></listitem>
<listitem>
<para><computeroutput>vtkDataSet = obj.GetInput ()</computeroutput> - Use GetInputDataObject() to get the input data object for composite datasets.  </para></listitem>
<listitem>
<para><computeroutput>obj.SetLabelMode (int )</computeroutput> - Specify which data to plot: IDs, scalars, vectors, normals, texture coords, tensors, or field data. If the data has more than one component, use the method SetLabeledComponent to control which components to plot. The default is VTK_LABEL_IDS.  </para></listitem>
<listitem>
<para><computeroutput>int = obj.GetLabelMode ()</computeroutput> - Specify which data to plot: IDs, scalars, vectors, normals, texture coords, tensors, or field data. If the data has more than one component, use the method SetLabeledComponent to control which components to plot. The default is VTK_LABEL_IDS.  </para></listitem>
<listitem>
<para><computeroutput>obj.SetLabelModeToLabelIds ()</computeroutput> - Specify which data to plot: IDs, scalars, vectors, normals, texture coords, tensors, or field data. If the data has more than one component, use the method SetLabeledComponent to control which components to plot. The default is VTK_LABEL_IDS.  </para></listitem>
<listitem>
<para><computeroutput>obj.SetLabelModeToLabelScalars ()</computeroutput> - Specify which data to plot: IDs, scalars, vectors, normals, texture coords, tensors, or field data. If the data has more than one component, use the method SetLabeledComponent to control which components to plot. The default is VTK_LABEL_IDS.  </para></listitem>
<listitem>
<para><computeroutput>obj.SetLabelModeToLabelVectors ()</computeroutput> - Specify which data to plot: IDs, scalars, vectors, normals, texture coords, tensors, or field data. If the data has more than one component, use the method SetLabeledComponent to control which components to plot. The default is VTK_LABEL_IDS.  </para></listitem>
<listitem>
<para><computeroutput>obj.SetLabelModeToLabelNormals ()</computeroutput> - Specify which data to plot: IDs, scalars, vectors, normals, texture coords, tensors, or field data. If the data has more than one component, use the method SetLabeledComponent to control which components to plot. The default is VTK_LABEL_IDS.  </para></listitem>
<listitem>
<para><computeroutput>obj.SetLabelModeToLabelTCoords ()</computeroutput> - Specify which data to plot: IDs, scalars, vectors, normals, texture coords, tensors, or field data. If the data has more than one component, use the method SetLabeledComponent to control which components to plot. The default is VTK_LABEL_IDS.  </para></listitem>
<listitem>
<para><computeroutput>obj.SetLabelModeToLabelTensors ()</computeroutput> - Specify which data to plot: IDs, scalars, vectors, normals, texture coords, tensors, or field data. If the data has more than one component, use the method SetLabeledComponent to control which components to plot. The default is VTK_LABEL_IDS.  </para></listitem>
<listitem>
<para><computeroutput>obj.SetLabelModeToLabelFieldData ()</computeroutput> - Specify which data to plot: IDs, scalars, vectors, normals, texture coords, tensors, or field data. If the data has more than one component, use the method SetLabeledComponent to control which components to plot. The default is VTK_LABEL_IDS.  </para></listitem>
<listitem>
<para><computeroutput>obj.SetLabelTextProperty (vtkTextProperty p)</computeroutput> - Set/Get the text property. If an integer argument is provided, you may provide different text properties for different label types. The type is determined by an optional type input array.  </para></listitem>
<listitem>
<para><computeroutput>vtkTextProperty = obj.GetLabelTextProperty ()</computeroutput> - Set/Get the text property. If an integer argument is provided, you may provide different text properties for different label types. The type is determined by an optional type input array.  </para></listitem>
<listitem>
<para><computeroutput>obj.SetLabelTextProperty (vtkTextProperty p, int type)</computeroutput> - Set/Get the text property. If an integer argument is provided, you may provide different text properties for different label types. The type is determined by an optional type input array.  </para></listitem>
<listitem>
<para><computeroutput>vtkTextProperty = obj.GetLabelTextProperty (int type)</computeroutput> - Set/Get the text property. If an integer argument is provided, you may provide different text properties for different label types. The type is determined by an optional type input array.  </para></listitem>
<listitem>
<para><computeroutput>obj.RenderOpaqueGeometry (vtkViewport viewport, vtkActor2D actor)</computeroutput> - Draw the text to the screen at each input point.  </para></listitem>
<listitem>
<para><computeroutput>obj.RenderOverlay (vtkViewport viewport, vtkActor2D actor)</computeroutput> - Draw the text to the screen at each input point.  </para></listitem>
<listitem>
<para><computeroutput>obj.ReleaseGraphicsResources (vtkWindow )</computeroutput> - Release any graphics resources that are being consumed by this actor.  </para></listitem>
<listitem>
<para><computeroutput>vtkTransform = obj.GetTransform ()</computeroutput> - The transform to apply to the labels before mapping to 2D.  </para></listitem>
<listitem>
<para><computeroutput>obj.SetTransform (vtkTransform t)</computeroutput> - The transform to apply to the labels before mapping to 2D.  </para></listitem>
<listitem>
<para><computeroutput>int = obj.GetCoordinateSystem ()</computeroutput> - Set/get the coordinate system used for output labels. The output datasets may have point coordinates reported in the world space or display space.  </para></listitem>
<listitem>
<para><computeroutput>obj.SetCoordinateSystem (int )</computeroutput> - Set/get the coordinate system used for output labels. The output datasets may have point coordinates reported in the world space or display space.  </para></listitem>
<listitem>
<para><computeroutput>int = obj.GetCoordinateSystemMinValue ()</computeroutput> - Set/get the coordinate system used for output labels. The output datasets may have point coordinates reported in the world space or display space.  </para></listitem>
<listitem>
<para><computeroutput>int = obj.GetCoordinateSystemMaxValue ()</computeroutput> - Set/get the coordinate system used for output labels. The output datasets may have point coordinates reported in the world space or display space.  </para></listitem>
<listitem>
<para><computeroutput>obj.CoordinateSystemWorld ()</computeroutput> - Set/get the coordinate system used for output labels. The output datasets may have point coordinates reported in the world space or display space.  </para></listitem>
<listitem>
<para><computeroutput>obj.CoordinateSystemDisplay ()</computeroutput> - Return the modified time for this object.  </para></listitem>
<listitem>
<para><computeroutput>long = obj.GetMTime ()</computeroutput> - Return the modified time for this object.  </para></listitem>
</itemizedlist>
</para></sect1>
    </detaileddescription>
  </compounddef>
</doxygen>
