<?xml version='1.0' encoding='UTF-8' standalone='no'?>
<doxygen xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="compound.xsd" version="1.8.1.1">
  <compounddef id="vtkrendering_vtkqttreeringlabelmapper" kind="page">
    <compoundname>vtkrendering_vtkqttreeringlabelmapper</compoundname>
    <title>vtkQtTreeRingLabelMapper</title>
    <detaileddescription>
<para>Section: <ref refid="sec_vtkrendering_1sec_vtkrendering" kindref="member">Visualization Toolkit Rendering Classes</ref> </para><sect1 id="vtkwidgets_vtkxyplotwidget_1Usage">
<title>Usage</title>
<para>vtkQtTreeRingLabelMapper is a mapper that renders text on a tree map. A tree map is a vtkTree with an associated 4-tuple array used for storing the boundary rectangle for each vertex in the tree. The user must specify the array name used for storing the rectangles.</para><para>The mapper iterates through the tree and attempts and renders a label inside the vertex&apos;s rectangle as long as the following conditions hold:<orderedlist>
<listitem><para>The vertex level is within the range of levels specified for labeling.</para></listitem><listitem><para>The label can fully fit inside its box.</para></listitem><listitem><para>The label does not overlap an ancestor&apos;s label.</para></listitem></orderedlist>
</para><para>To create an instance of class vtkQtTreeRingLabelMapper, simply invoke its constructor as follows <verbatim>  obj = vtkQtTreeRingLabelMapper
</verbatim> </para></sect1>
<sect1 id="vtkwidgets_vtkxyplotwidget_1Methods">
<title>Methods</title>
<para>The class vtkQtTreeRingLabelMapper has several methods that can be used. They are listed below. Note that the documentation is translated automatically from the VTK sources, and may not be completely intelligible. When in doubt, consult the VTK website. In the methods listed below, <computeroutput>obj</computeroutput> is an instance of the vtkQtTreeRingLabelMapper class. <itemizedlist>
<listitem>
<para><computeroutput>string = obj.GetClassName ()</computeroutput>  </para></listitem>
<listitem>
<para><computeroutput>int = obj.IsA (string name)</computeroutput>  </para></listitem>
<listitem>
<para><computeroutput>vtkQtTreeRingLabelMapper = obj.NewInstance ()</computeroutput>  </para></listitem>
<listitem>
<para><computeroutput>vtkQtTreeRingLabelMapper = obj.SafeDownCast (vtkObject o)</computeroutput>  </para></listitem>
<listitem>
<para><computeroutput>obj.RenderOpaqueGeometry (vtkViewport viewport, vtkActor2D actor)</computeroutput> - Draw the text to the screen at each input point.  </para></listitem>
<listitem>
<para><computeroutput>obj.RenderOverlay (vtkViewport viewport, vtkActor2D actor)</computeroutput> - Draw the text to the screen at each input point.  </para></listitem>
<listitem>
<para><computeroutput>vtkTree = obj.GetInputTree ()</computeroutput> - The input to this filter.  </para></listitem>
<listitem>
<para><computeroutput>obj.SetSectorsArrayName (string name)</computeroutput> - The name of the 4-tuple array used for  </para></listitem>
<listitem>
<para><computeroutput>obj.SetLabelTextProperty (vtkTextProperty p)</computeroutput> - Set/Get the text property. Note that multiple type text properties (set with a second integer parameter) are not currently supported, but are provided to avoid compiler warnings.  </para></listitem>
<listitem>
<para><computeroutput>vtkTextProperty = obj.GetLabelTextProperty ()</computeroutput> - Set/Get the text property. Note that multiple type text properties (set with a second integer parameter) are not currently supported, but are provided to avoid compiler warnings.  </para></listitem>
<listitem>
<para><computeroutput>obj.SetLabelTextProperty (vtkTextProperty p, int type)</computeroutput> - Set/Get the text property. Note that multiple type text properties (set with a second integer parameter) are not currently supported, but are provided to avoid compiler warnings.  </para></listitem>
<listitem>
<para><computeroutput>vtkTextProperty = obj.GetLabelTextProperty (int type)</computeroutput> - Set/Get the name of the text rotation array.  </para></listitem>
<listitem>
<para><computeroutput>obj.SetTextRotationArrayName (string )</computeroutput> - Set/Get the name of the text rotation array.  </para></listitem>
<listitem>
<para><computeroutput>string = obj.GetTextRotationArrayName ()</computeroutput> - Set/Get the name of the text rotation array.  </para></listitem>
<listitem>
<para><computeroutput>long = obj.GetMTime ()</computeroutput> - Return the object&apos;s MTime. This is overridden to include the timestamp of its internal class.  </para></listitem>
<listitem>
<para><computeroutput>obj.SetRenderer (vtkRenderer ren)</computeroutput>  </para></listitem>
<listitem>
<para><computeroutput>vtkRenderer = obj.GetRenderer ()</computeroutput>  </para></listitem>
</itemizedlist>
</para></sect1>
    </detaileddescription>
  </compounddef>
</doxygen>
