<?xml version='1.0' encoding='UTF-8' standalone='no'?>
<doxygen xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="compound.xsd" version="1.8.1.1">
  <compounddef id="vtkrendering_vtkpainterpolydatamapper" kind="page">
    <compoundname>vtkrendering_vtkpainterpolydatamapper</compoundname>
    <title>vtkPainterPolyDataMapper</title>
    <detaileddescription>
<para>Section: <ref refid="sec_vtkrendering_1sec_vtkrendering" kindref="member">Visualization Toolkit Rendering Classes</ref> </para><sect1 id="vtkwidgets_vtkxyplotwidget_1Usage">
<title>Usage</title>
<para>PolyDataMapper that uses painters to do the actual rendering. .SECTION Thanks Support for generic vertex attributes in VTK was contributed in collaboration with Stephane Ploix at EDF.</para><para>To create an instance of class vtkPainterPolyDataMapper, simply invoke its constructor as follows <verbatim>  obj = vtkPainterPolyDataMapper
</verbatim> </para></sect1>
<sect1 id="vtkwidgets_vtkxyplotwidget_1Methods">
<title>Methods</title>
<para>The class vtkPainterPolyDataMapper has several methods that can be used. They are listed below. Note that the documentation is translated automatically from the VTK sources, and may not be completely intelligible. When in doubt, consult the VTK website. In the methods listed below, <computeroutput>obj</computeroutput> is an instance of the vtkPainterPolyDataMapper class. <itemizedlist>
<listitem>
<para><computeroutput>string = obj.GetClassName ()</computeroutput>  </para></listitem>
<listitem>
<para><computeroutput>int = obj.IsA (string name)</computeroutput>  </para></listitem>
<listitem>
<para><computeroutput>vtkPainterPolyDataMapper = obj.NewInstance ()</computeroutput>  </para></listitem>
<listitem>
<para><computeroutput>vtkPainterPolyDataMapper = obj.SafeDownCast (vtkObject o)</computeroutput>  </para></listitem>
<listitem>
<para><computeroutput>obj.RenderPiece (vtkRenderer ren, vtkActor act)</computeroutput> - Implemented by sub classes. Actual rendering is done here.  </para></listitem>
<listitem>
<para><computeroutput>vtkPainter = obj.GetPainter ()</computeroutput> - Get/Set the painter used to do the actual rendering. By default, vtkDefaultPainter is used to build the rendering painter chain for color mapping/clipping etc. followed by a vtkChooserPainter which renders the primitives.  </para></listitem>
<listitem>
<para><computeroutput>obj.SetPainter (vtkPainter )</computeroutput> - Get/Set the painter used to do the actual rendering. By default, vtkDefaultPainter is used to build the rendering painter chain for color mapping/clipping etc. followed by a vtkChooserPainter which renders the primitives.  </para></listitem>
<listitem>
<para><computeroutput>obj.ReleaseGraphicsResources (vtkWindow )</computeroutput> - Release any graphics resources that are being consumed by this mapper. The parameter window could be used to determine which graphic resources to release. Merely propagates the call to the painter.  </para></listitem>
<listitem>
<para><computeroutput>obj.GetBounds (double bounds[6])</computeroutput> - Re-implement the superclass GetBounds method.  </para></listitem>
<listitem>
<para><computeroutput>double = obj.GetBounds ()</computeroutput> - Re-implement the superclass GetBounds method.  </para></listitem>
<listitem>
<para><computeroutput>obj.MapDataArrayToVertexAttribute (string vertexAttributeName, string dataArrayName, int fieldAssociation, int componentno)</computeroutput> - Select a data array from the point/cell data and map it to a generic vertex attribute. vertexAttributeName is the name of the vertex attribute. dataArrayName is the name of the data array. fieldAssociation indicates when the data array is a point data array or cell data array (vtkDataObject::FIELD_ASSOCIATION_POINTS or (vtkDataObject::FIELD_ASSOCIATION_CELLS). componentno indicates which component from the data array must be passed as the attribute. If -1, then all components are passed.  </para></listitem>
<listitem>
<para><computeroutput>obj.MapDataArrayToMultiTextureAttribute (int unit, string dataArrayName, int fieldAssociation, int componentno)</computeroutput>  </para></listitem>
<listitem>
<para><computeroutput>obj.RemoveVertexAttributeMapping (string vertexAttributeName)</computeroutput> - Remove a vertex attribute mapping.  </para></listitem>
<listitem>
<para><computeroutput>obj.RemoveAllVertexAttributeMappings ()</computeroutput> - Remove all vertex attributes.  </para></listitem>
<listitem>
<para><computeroutput>vtkPainter = obj.GetSelectionPainter ()</computeroutput> - Get/Set the painter used when rendering the selection pass.  </para></listitem>
<listitem>
<para><computeroutput>obj.SetSelectionPainter (vtkPainter )</computeroutput> - Get/Set the painter used when rendering the selection pass.  </para></listitem>
<listitem>
<para><computeroutput>bool = obj.GetSupportsSelection ()</computeroutput>  </para></listitem>
</itemizedlist>
</para></sect1>
    </detaileddescription>
  </compounddef>
</doxygen>
