<?xml version='1.0' encoding='UTF-8' standalone='no'?>
<doxygen xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="compound.xsd" version="1.8.1.1">
  <compounddef id="vtkrendering_vtkopenglimagemapper" kind="page">
    <compoundname>vtkrendering_vtkopenglimagemapper</compoundname>
    <title>vtkOpenGLImageMapper</title>
    <detaileddescription>
<para>Section: <ref refid="sec_vtkrendering_1sec_vtkrendering" kindref="member">Visualization Toolkit Rendering Classes</ref> </para><sect1 id="vtkwidgets_vtkxyplotwidget_1Usage">
<title>Usage</title>
<para>vtkOpenGLImageMapper is a concrete subclass of vtkImageMapper that renders images under OpenGL</para><para>To create an instance of class vtkOpenGLImageMapper, simply invoke its constructor as follows <verbatim>  obj = vtkOpenGLImageMapper
</verbatim> </para></sect1>
<sect1 id="vtkwidgets_vtkxyplotwidget_1Methods">
<title>Methods</title>
<para>The class vtkOpenGLImageMapper has several methods that can be used. They are listed below. Note that the documentation is translated automatically from the VTK sources, and may not be completely intelligible. When in doubt, consult the VTK website. In the methods listed below, <computeroutput>obj</computeroutput> is an instance of the vtkOpenGLImageMapper class. <itemizedlist>
<listitem>
<para><computeroutput>string = obj.GetClassName ()</computeroutput>  </para></listitem>
<listitem>
<para><computeroutput>int = obj.IsA (string name)</computeroutput>  </para></listitem>
<listitem>
<para><computeroutput>vtkOpenGLImageMapper = obj.NewInstance ()</computeroutput>  </para></listitem>
<listitem>
<para><computeroutput>vtkOpenGLImageMapper = obj.SafeDownCast (vtkObject o)</computeroutput>  </para></listitem>
<listitem>
<para><computeroutput>obj.RenderOverlay (vtkViewport viewport, vtkActor2D actor)</computeroutput> - Called by the Render function in vtkImageMapper. Actually draws the image to the screen.  </para></listitem>
<listitem>
<para><computeroutput>obj.RenderData (vtkViewport viewport, vtkImageData data, vtkActor2D actor)</computeroutput> - Called by the Render function in vtkImageMapper. Actually draws the image to the screen.  </para></listitem>
</itemizedlist>
</para></sect1>
    </detaileddescription>
  </compounddef>
</doxygen>
