<?xml version='1.0' encoding='UTF-8' standalone='no'?>
<doxygen xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="compound.xsd" version="1.8.1.1">
  <compounddef id="vtkrendering_vtkdynamic2dlabelmapper" kind="page">
    <compoundname>vtkrendering_vtkdynamic2dlabelmapper</compoundname>
    <title>vtkDynamic2DLabelMapper</title>
    <detaileddescription>
<para>Section: <ref refid="sec_vtkrendering_1sec_vtkrendering" kindref="member">Visualization Toolkit Rendering Classes</ref> </para><sect1 id="vtkwidgets_vtkxyplotwidget_1Usage">
<title>Usage</title>
<para>vtkDynamic2DLabelMapper is a mapper that renders text at dataset points such that the labels do not overlap. Various items can be labeled including point ids, scalars, vectors, normals, texture coordinates, tensors, and field data components. This mapper assumes that the points are located on the x-y plane and that the camera remains perpendicular to that plane with a y-up axis (this can be constrained using vtkImageInteractor). On the first render, the mapper computes the visiblility of all labels at all scales, and queries this information on successive renders. This causes the first render to be much slower. The visibility algorithm is a greedy approach based on the point id, so the label for a point will be drawn unless the label for a point with lower id overlaps it.</para><para>To create an instance of class vtkDynamic2DLabelMapper, simply invoke its constructor as follows <verbatim>  obj = vtkDynamic2DLabelMapper
</verbatim> </para></sect1>
<sect1 id="vtkwidgets_vtkxyplotwidget_1Methods">
<title>Methods</title>
<para>The class vtkDynamic2DLabelMapper has several methods that can be used. They are listed below. Note that the documentation is translated automatically from the VTK sources, and may not be completely intelligible. When in doubt, consult the VTK website. In the methods listed below, <computeroutput>obj</computeroutput> is an instance of the vtkDynamic2DLabelMapper class. <itemizedlist>
<listitem>
<para><computeroutput>string = obj.GetClassName ()</computeroutput> - Instantiate object with %%-#6.3g label format. By default, point ids are labeled.  </para></listitem>
<listitem>
<para><computeroutput>int = obj.IsA (string name)</computeroutput> - Instantiate object with %%-#6.3g label format. By default, point ids are labeled.  </para></listitem>
<listitem>
<para><computeroutput>vtkDynamic2DLabelMapper = obj.NewInstance ()</computeroutput> - Instantiate object with %%-#6.3g label format. By default, point ids are labeled.  </para></listitem>
<listitem>
<para><computeroutput>vtkDynamic2DLabelMapper = obj.SafeDownCast (vtkObject o)</computeroutput> - Instantiate object with %%-#6.3g label format. By default, point ids are labeled.  </para></listitem>
<listitem>
<para><computeroutput>obj.SetPriorityArrayName (string name)</computeroutput> - Set the points array name to use to give priority to labels. Defaults to &quot;priority&quot;.  </para></listitem>
<listitem>
<para><computeroutput>obj.SetReversePriority (bool )</computeroutput> - Whether to reverse the priority order (i.e. low values have high priority). Default is off.  </para></listitem>
<listitem>
<para><computeroutput>bool = obj.GetReversePriority ()</computeroutput> - Whether to reverse the priority order (i.e. low values have high priority). Default is off.  </para></listitem>
<listitem>
<para><computeroutput>obj.ReversePriorityOn ()</computeroutput> - Whether to reverse the priority order (i.e. low values have high priority). Default is off.  </para></listitem>
<listitem>
<para><computeroutput>obj.ReversePriorityOff ()</computeroutput> - Whether to reverse the priority order (i.e. low values have high priority). Default is off.  </para></listitem>
<listitem>
<para><computeroutput>obj.SetLabelHeightPadding (float )</computeroutput> - Set the label height padding as a percentage. The percentage is a percentage of your label height. Default is 50%.  </para></listitem>
<listitem>
<para><computeroutput>float = obj.GetLabelHeightPadding ()</computeroutput> - Set the label height padding as a percentage. The percentage is a percentage of your label height. Default is 50%.  </para></listitem>
<listitem>
<para><computeroutput>obj.SetLabelWidthPadding (float )</computeroutput> - Set the label width padding as a percentage. The percentage is a percentage of your label ^height^ (yes, not a typo). Default is 50%.  </para></listitem>
<listitem>
<para><computeroutput>float = obj.GetLabelWidthPadding ()</computeroutput> - Set the label width padding as a percentage. The percentage is a percentage of your label ^height^ (yes, not a typo). Default is 50%.  </para></listitem>
<listitem>
<para><computeroutput>obj.RenderOpaqueGeometry (vtkViewport viewport, vtkActor2D actor)</computeroutput> - Draw non-overlapping labels to the screen.  </para></listitem>
<listitem>
<para><computeroutput>obj.RenderOverlay (vtkViewport viewport, vtkActor2D actor)</computeroutput> - Draw non-overlapping labels to the screen.  </para></listitem>
</itemizedlist>
</para></sect1>
    </detaileddescription>
  </compounddef>
</doxygen>
