<?xml version='1.0' encoding='UTF-8' standalone='no'?>
<doxygen xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="compound.xsd" version="1.8.1.1">
  <compounddef id="vtkrendering_vtkgraphmapper" kind="page">
    <compoundname>vtkrendering_vtkgraphmapper</compoundname>
    <title>vtkGraphMapper</title>
    <detaileddescription>
<para>Section: <ref refid="sec_vtkrendering_1sec_vtkrendering" kindref="member">Visualization Toolkit Rendering Classes</ref> </para><sect1 id="vtkwidgets_vtkxyplotwidget_1Usage">
<title>Usage</title>
<para>vtkGraphMapper is a mapper to map vtkGraph (and all derived classes) to graphics primitives.</para><para>To create an instance of class vtkGraphMapper, simply invoke its constructor as follows <verbatim>  obj = vtkGraphMapper
</verbatim> </para></sect1>
<sect1 id="vtkwidgets_vtkxyplotwidget_1Methods">
<title>Methods</title>
<para>The class vtkGraphMapper has several methods that can be used. They are listed below. Note that the documentation is translated automatically from the VTK sources, and may not be completely intelligible. When in doubt, consult the VTK website. In the methods listed below, <computeroutput>obj</computeroutput> is an instance of the vtkGraphMapper class. <itemizedlist>
<listitem>
<para><computeroutput>string = obj.GetClassName ()</computeroutput>  </para></listitem>
<listitem>
<para><computeroutput>int = obj.IsA (string name)</computeroutput>  </para></listitem>
<listitem>
<para><computeroutput>vtkGraphMapper = obj.NewInstance ()</computeroutput>  </para></listitem>
<listitem>
<para><computeroutput>vtkGraphMapper = obj.SafeDownCast (vtkObject o)</computeroutput>  </para></listitem>
<listitem>
<para><computeroutput>obj.Render (vtkRenderer ren, vtkActor act)</computeroutput>  </para></listitem>
<listitem>
<para><computeroutput>obj.SetVertexColorArrayName (string name)</computeroutput> - The array to use for coloring vertices. Default is &quot;color&quot;.  </para></listitem>
<listitem>
<para><computeroutput>string = obj.GetVertexColorArrayName ()</computeroutput> - The array to use for coloring vertices. Default is &quot;color&quot;.  </para></listitem>
<listitem>
<para><computeroutput>obj.SetColorVertices (bool vis)</computeroutput> - Whether to color vertices. Default is off.  </para></listitem>
<listitem>
<para><computeroutput>bool = obj.GetColorVertices ()</computeroutput> - Whether to color vertices. Default is off.  </para></listitem>
<listitem>
<para><computeroutput>obj.ColorVerticesOn ()</computeroutput> - Whether to color vertices. Default is off.  </para></listitem>
<listitem>
<para><computeroutput>obj.ColorVerticesOff ()</computeroutput> - Whether to color vertices. Default is off.  </para></listitem>
<listitem>
<para><computeroutput>obj.SetScaledGlyphs (bool arg)</computeroutput> - Whether scaled glyphs are on or not. Default is off. By default this mapper uses vertex glyphs that do not scale. If you turn this option on you will get circles at each vertex and they will scale as you zoom in/out.  </para></listitem>
<listitem>
<para><computeroutput>bool = obj.GetScaledGlyphs ()</computeroutput> - Whether scaled glyphs are on or not. Default is off. By default this mapper uses vertex glyphs that do not scale. If you turn this option on you will get circles at each vertex and they will scale as you zoom in/out.  </para></listitem>
<listitem>
<para><computeroutput>obj.ScaledGlyphsOn ()</computeroutput> - Whether scaled glyphs are on or not. Default is off. By default this mapper uses vertex glyphs that do not scale. If you turn this option on you will get circles at each vertex and they will scale as you zoom in/out.  </para></listitem>
<listitem>
<para><computeroutput>obj.ScaledGlyphsOff ()</computeroutput> - Whether scaled glyphs are on or not. Default is off. By default this mapper uses vertex glyphs that do not scale. If you turn this option on you will get circles at each vertex and they will scale as you zoom in/out.  </para></listitem>
<listitem>
<para><computeroutput>obj.SetScalingArrayName (string )</computeroutput> - Glyph scaling array name. Default is &quot;scale&quot;  </para></listitem>
<listitem>
<para><computeroutput>string = obj.GetScalingArrayName ()</computeroutput> - Glyph scaling array name. Default is &quot;scale&quot;  </para></listitem>
<listitem>
<para><computeroutput>obj.SetEdgeVisibility (bool vis)</computeroutput> - Whether to show edges or not. Default is on.  </para></listitem>
<listitem>
<para><computeroutput>bool = obj.GetEdgeVisibility ()</computeroutput> - Whether to show edges or not. Default is on.  </para></listitem>
<listitem>
<para><computeroutput>obj.EdgeVisibilityOn ()</computeroutput> - Whether to show edges or not. Default is on.  </para></listitem>
<listitem>
<para><computeroutput>obj.EdgeVisibilityOff ()</computeroutput> - Whether to show edges or not. Default is on.  </para></listitem>
<listitem>
<para><computeroutput>obj.SetEdgeColorArrayName (string name)</computeroutput> - The array to use for coloring edges. Default is &quot;color&quot;.  </para></listitem>
<listitem>
<para><computeroutput>string = obj.GetEdgeColorArrayName ()</computeroutput> - The array to use for coloring edges. Default is &quot;color&quot;.  </para></listitem>
<listitem>
<para><computeroutput>obj.SetColorEdges (bool vis)</computeroutput> - Whether to color edges. Default is off.  </para></listitem>
<listitem>
<para><computeroutput>bool = obj.GetColorEdges ()</computeroutput> - Whether to color edges. Default is off.  </para></listitem>
<listitem>
<para><computeroutput>obj.ColorEdgesOn ()</computeroutput> - Whether to color edges. Default is off.  </para></listitem>
<listitem>
<para><computeroutput>obj.ColorEdgesOff ()</computeroutput> - Whether to color edges. Default is off.  </para></listitem>
<listitem>
<para><computeroutput>obj.SetEnabledEdgesArrayName (string )</computeroutput> - The array to use for coloring edges. Default is &quot;color&quot;.  </para></listitem>
<listitem>
<para><computeroutput>string = obj.GetEnabledEdgesArrayName ()</computeroutput> - The array to use for coloring edges. Default is &quot;color&quot;.  </para></listitem>
<listitem>
<para><computeroutput>obj.SetEnableEdgesByArray (int )</computeroutput> - Whether to enable/disable edges using array values. Default is off.  </para></listitem>
<listitem>
<para><computeroutput>int = obj.GetEnableEdgesByArray ()</computeroutput> - Whether to enable/disable edges using array values. Default is off.  </para></listitem>
<listitem>
<para><computeroutput>obj.EnableEdgesByArrayOn ()</computeroutput> - Whether to enable/disable edges using array values. Default is off.  </para></listitem>
<listitem>
<para><computeroutput>obj.EnableEdgesByArrayOff ()</computeroutput> - Whether to enable/disable edges using array values. Default is off.  </para></listitem>
<listitem>
<para><computeroutput>obj.SetEnabledVerticesArrayName (string )</computeroutput> - The array to use for coloring edges. Default is &quot;color&quot;.  </para></listitem>
<listitem>
<para><computeroutput>string = obj.GetEnabledVerticesArrayName ()</computeroutput> - The array to use for coloring edges. Default is &quot;color&quot;.  </para></listitem>
<listitem>
<para><computeroutput>obj.SetEnableVerticesByArray (int )</computeroutput> - Whether to enable/disable vertices using array values. Default is off.  </para></listitem>
<listitem>
<para><computeroutput>int = obj.GetEnableVerticesByArray ()</computeroutput> - Whether to enable/disable vertices using array values. Default is off.  </para></listitem>
<listitem>
<para><computeroutput>obj.EnableVerticesByArrayOn ()</computeroutput> - Whether to enable/disable vertices using array values. Default is off.  </para></listitem>
<listitem>
<para><computeroutput>obj.EnableVerticesByArrayOff ()</computeroutput> - Whether to enable/disable vertices using array values. Default is off.  </para></listitem>
<listitem>
<para><computeroutput>obj.SetIconArrayName (string name)</computeroutput> - The array to use for assigning icons.  </para></listitem>
<listitem>
<para><computeroutput>string = obj.GetIconArrayName ()</computeroutput> - The array to use for assigning icons.  </para></listitem>
<listitem>
<para><computeroutput>obj.AddIconType (string type, int index)</computeroutput> - Associate the icon at index &quot;index&quot; in the vtkTexture to all vertices containing &quot;type&quot; as a value in the vertex attribute array specified by IconArrayName.  </para></listitem>
<listitem>
<para><computeroutput>obj.ClearIconTypes ()</computeroutput> - Clear all icon mappings.  </para></listitem>
<listitem>
<para><computeroutput>obj.SetIconSize (int size)</computeroutput> - Specify the Width and Height, in pixels, of an icon in the icon sheet.  </para></listitem>
<listitem>
<para><computeroutput>obj.SetIconAlignment (int alignment)</computeroutput> - Specify where the icons should be placed in relation to the vertex. See vtkIconGlyphFilter.h for possible values.  </para></listitem>
<listitem>
<para><computeroutput>vtkTexture = obj.GetIconTexture ()</computeroutput> - The texture containing the icon sheet.  </para></listitem>
<listitem>
<para><computeroutput>obj.SetIconTexture (vtkTexture texture)</computeroutput> - The texture containing the icon sheet.  </para></listitem>
<listitem>
<para><computeroutput>obj.SetIconVisibility (bool vis)</computeroutput> - Whether to show icons. Default is off.  </para></listitem>
<listitem>
<para><computeroutput>bool = obj.GetIconVisibility ()</computeroutput> - Whether to show icons. Default is off.  </para></listitem>
<listitem>
<para><computeroutput>obj.IconVisibilityOn ()</computeroutput> - Whether to show icons. Default is off.  </para></listitem>
<listitem>
<para><computeroutput>obj.IconVisibilityOff ()</computeroutput> - Whether to show icons. Default is off.  </para></listitem>
<listitem>
<para><computeroutput>float = obj.GetVertexPointSize ()</computeroutput> - Get/Set the vertex point size  </para></listitem>
<listitem>
<para><computeroutput>obj.SetVertexPointSize (float size)</computeroutput> - Get/Set the vertex point size  </para></listitem>
<listitem>
<para><computeroutput>float = obj.GetEdgeLineWidth ()</computeroutput> - Get/Set the edge line width  </para></listitem>
<listitem>
<para><computeroutput>obj.SetEdgeLineWidth (float width)</computeroutput> - Get/Set the edge line width  </para></listitem>
<listitem>
<para><computeroutput>obj.ApplyViewTheme (vtkViewTheme theme)</computeroutput> - Apply the theme to this view.  </para></listitem>
<listitem>
<para><computeroutput>obj.ReleaseGraphicsResources (vtkWindow )</computeroutput> - Release any graphics resources that are being consumed by this mapper. The parameter window could be used to determine which graphic resources to release.  </para></listitem>
<listitem>
<para><computeroutput>long = obj.GetMTime ()</computeroutput> - Get the mtime also considering the lookup table.  </para></listitem>
<listitem>
<para><computeroutput>obj.SetInput (vtkGraph input)</computeroutput> - Set the Input of this mapper.  </para></listitem>
<listitem>
<para><computeroutput>vtkGraph = obj.GetInput ()</computeroutput> - Set the Input of this mapper.  </para></listitem>
<listitem>
<para><computeroutput>double = obj.GetBounds ()</computeroutput> - Return bounding box (array of six doubles) of data expressed as (xmin,xmax, ymin,ymax, zmin,zmax).  </para></listitem>
<listitem>
<para><computeroutput>obj.GetBounds (double bounds)</computeroutput> - Access to the lookup tables used by the vertex and edge mappers.  </para></listitem>
<listitem>
<para><computeroutput>vtkLookupTable = obj.GetEdgeLookupTable ()</computeroutput> - Access to the lookup tables used by the vertex and edge mappers.  </para></listitem>
<listitem>
<para><computeroutput>vtkLookupTable = obj.GetVertexLookupTable ()</computeroutput> - Access to the lookup tables used by the vertex and edge mappers.  </para></listitem>
</itemizedlist>
</para></sect1>
    </detaileddescription>
  </compounddef>
</doxygen>
