<?xml version='1.0' encoding='UTF-8' standalone='no'?>
<doxygen xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="compound.xsd" version="1.8.1.1">
  <compounddef id="vtkrendering_vtktextmapper" kind="page">
    <compoundname>vtkrendering_vtktextmapper</compoundname>
    <title>vtkTextMapper</title>
    <detaileddescription>
<para>Section: <ref refid="sec_vtkrendering_1sec_vtkrendering" kindref="member">Visualization Toolkit Rendering Classes</ref> </para><sect1 id="vtkwidgets_vtkxyplotwidget_1Usage">
<title>Usage</title>
<para>vtkTextMapper provides 2D text annotation support for VTK. It is a vtkMapper2D that can be associated with a vtkActor2D and placed into a vtkRenderer.</para><para>To use vtkTextMapper, specify an input text string.</para><para>To create an instance of class vtkTextMapper, simply invoke its constructor as follows <verbatim>  obj = vtkTextMapper
</verbatim> </para></sect1>
<sect1 id="vtkwidgets_vtkxyplotwidget_1Methods">
<title>Methods</title>
<para>The class vtkTextMapper has several methods that can be used. They are listed below. Note that the documentation is translated automatically from the VTK sources, and may not be completely intelligible. When in doubt, consult the VTK website. In the methods listed below, <computeroutput>obj</computeroutput> is an instance of the vtkTextMapper class. <itemizedlist>
<listitem>
<para><computeroutput>string = obj.GetClassName ()</computeroutput>  </para></listitem>
<listitem>
<para><computeroutput>int = obj.IsA (string name)</computeroutput>  </para></listitem>
<listitem>
<para><computeroutput>vtkTextMapper = obj.NewInstance ()</computeroutput>  </para></listitem>
<listitem>
<para><computeroutput>vtkTextMapper = obj.SafeDownCast (vtkObject o)</computeroutput>  </para></listitem>
<listitem>
<para><computeroutput>obj.GetSize (vtkViewport , int size[2])</computeroutput> - Return the size[2]/width/height of the rectangle required to draw this mapper (in pixels).  </para></listitem>
<listitem>
<para><computeroutput>int = obj.GetWidth (vtkViewport v)</computeroutput> - Return the size[2]/width/height of the rectangle required to draw this mapper (in pixels).  </para></listitem>
<listitem>
<para><computeroutput>int = obj.GetHeight (vtkViewport v)</computeroutput> - Return the size[2]/width/height of the rectangle required to draw this mapper (in pixels).  </para></listitem>
<listitem>
<para><computeroutput>obj.SetInput (string inputString)</computeroutput> - Set the input text string to the mapper. The mapper recognizes &quot;\n&quot; as a carriage return/linefeed (line separator).  </para></listitem>
<listitem>
<para><computeroutput>string = obj.GetInput ()</computeroutput> - Set the input text string to the mapper. The mapper recognizes &quot;\n&quot; as a carriage return/linefeed (line separator).  </para></listitem>
<listitem>
<para><computeroutput>obj.SetTextProperty (vtkTextProperty p)</computeroutput> - Set/Get the text property.  </para></listitem>
<listitem>
<para><computeroutput>vtkTextProperty = obj.GetTextProperty ()</computeroutput> - Set/Get the text property.  </para></listitem>
<listitem>
<para><computeroutput>obj.ShallowCopy (vtkTextMapper tm)</computeroutput> - Shallow copy of an actor.  </para></listitem>
<listitem>
<para><computeroutput>int = obj.GetNumberOfLines (string input)</computeroutput> - Determine the number of lines in the input string (delimited by &quot;\n&quot;).  </para></listitem>
<listitem>
<para><computeroutput>int = obj.GetNumberOfLines ()</computeroutput> - Get the number of lines in the input string (the method GetNumberOfLines(char*) must have been previously called for the return value to be valid).  </para></listitem>
<listitem>
<para><computeroutput>int = obj.SetConstrainedFontSize (vtkViewport , int targetWidth, int targetHeight)</computeroutput> - Set and return the font size required to make this mapper fit in a given target rectangle (width x height, in pixels). A static version of the method is also available for convenience to other classes (e.g., widgets).  </para></listitem>
<listitem>
<para><computeroutput>int = obj.GetSystemFontSize (int size)</computeroutput>  </para></listitem>
</itemizedlist>
</para></sect1>
    </detaileddescription>
  </compounddef>
</doxygen>
