<?xml version='1.0' encoding='UTF-8' standalone='no'?>
<doxygen xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="compound.xsd" version="1.8.1.1">
  <compounddef id="vtkrendering_vtklabeledtreemapdatamapper" kind="page">
    <compoundname>vtkrendering_vtklabeledtreemapdatamapper</compoundname>
    <title>vtkLabeledTreeMapDataMapper</title>
    <detaileddescription>
<para>Section: <ref refid="sec_vtkrendering_1sec_vtkrendering" kindref="member">Visualization Toolkit Rendering Classes</ref> </para><sect1 id="vtkwidgets_vtkxyplotwidget_1Usage">
<title>Usage</title>
<para>vtkLabeledTreeMapDataMapper is a mapper that renders text on a tree map. A tree map is a vtkTree with an associated 4-tuple array used for storing the boundary rectangle for each vertex in the tree. The user must specify the array name used for storing the rectangles.</para><para>The mapper iterates through the tree and attempts and renders a label inside the vertex&apos;s rectangle as long as the following conditions hold:<orderedlist>
<listitem><para>The vertex level is within the range of levels specified for labeling.</para></listitem><listitem><para>The label can fully fit inside its box.</para></listitem><listitem><para>The label does not overlap an ancestor&apos;s label.</para></listitem></orderedlist>
</para><para>To create an instance of class vtkLabeledTreeMapDataMapper, simply invoke its constructor as follows <verbatim>  obj = vtkLabeledTreeMapDataMapper
</verbatim> </para></sect1>
<sect1 id="vtkwidgets_vtkxyplotwidget_1Methods">
<title>Methods</title>
<para>The class vtkLabeledTreeMapDataMapper has several methods that can be used. They are listed below. Note that the documentation is translated automatically from the VTK sources, and may not be completely intelligible. When in doubt, consult the VTK website. In the methods listed below, <computeroutput>obj</computeroutput> is an instance of the vtkLabeledTreeMapDataMapper class. <itemizedlist>
<listitem>
<para><computeroutput>string = obj.GetClassName ()</computeroutput>  </para></listitem>
<listitem>
<para><computeroutput>int = obj.IsA (string name)</computeroutput>  </para></listitem>
<listitem>
<para><computeroutput>vtkLabeledTreeMapDataMapper = obj.NewInstance ()</computeroutput>  </para></listitem>
<listitem>
<para><computeroutput>vtkLabeledTreeMapDataMapper = obj.SafeDownCast (vtkObject o)</computeroutput>  </para></listitem>
<listitem>
<para><computeroutput>obj.RenderOpaqueGeometry (vtkViewport viewport, vtkActor2D actor)</computeroutput> - Draw the text to the screen at each input point.  </para></listitem>
<listitem>
<para><computeroutput>obj.RenderOverlay (vtkViewport viewport, vtkActor2D actor)</computeroutput> - Draw the text to the screen at each input point.  </para></listitem>
<listitem>
<para><computeroutput>vtkTree = obj.GetInputTree ()</computeroutput> - The input to this filter.  </para></listitem>
<listitem>
<para><computeroutput>obj.SetRectanglesArrayName (string name)</computeroutput> - The name of the 4-tuple array used for  </para></listitem>
<listitem>
<para><computeroutput>int = obj.GetClipTextMode ()</computeroutput> - Indicates if the label can be displayed clipped by the Window mode = 0 - ok to clip labels 1 - auto center labels w/r to the area of the vertex&apos;s clipped region  </para></listitem>
<listitem>
<para><computeroutput>obj.SetClipTextMode (int )</computeroutput> - Indicates if the label can be displayed clipped by the Window mode = 0 - ok to clip labels 1 - auto center labels w/r to the area of the vertex&apos;s clipped region  </para></listitem>
<listitem>
<para><computeroutput>int = obj.GetChildMotion ()</computeroutput> - Indicates if the label can be moved by its ancestors  </para></listitem>
<listitem>
<para><computeroutput>obj.SetChildMotion (int )</computeroutput> - Indicates if the label can be moved by its ancestors  </para></listitem>
<listitem>
<para><computeroutput>int = obj.GetDynamicLevel ()</computeroutput> - Indicates at which level labeling should be dynamic  </para></listitem>
<listitem>
<para><computeroutput>obj.SetDynamicLevel (int )</computeroutput> - Indicates at which level labeling should be dynamic  </para></listitem>
<listitem>
<para><computeroutput>obj.ReleaseGraphicsResources (vtkWindow )</computeroutput> - Release any graphics resources that are being consumed by this actor.  </para></listitem>
<listitem>
<para><computeroutput>obj.SetFontSizeRange (int maxSize, int minSize, int delta)</computeroutput> - The range of font sizes to use when rendering the labels.  </para></listitem>
<listitem>
<para><computeroutput>obj.GetFontSizeRange (int range[3])</computeroutput> - The range of font sizes to use when rendering the labels.  </para></listitem>
<listitem>
<para><computeroutput>obj.SetLevelRange (int startLevel, int endLevel)</computeroutput> - The range of levels to attempt to label. The level of a vertex is the length of the path to the root (the root has level 0).  </para></listitem>
<listitem>
<para><computeroutput>obj.GetLevelRange (int range[2])</computeroutput> - The range of levels to attempt to label. The level of a vertex is the length of the path to the root (the root has level 0).  </para></listitem>
</itemizedlist>
</para></sect1>
    </detaileddescription>
  </compounddef>
</doxygen>
