<?xml version='1.0' encoding='UTF-8' standalone='no'?>
<doxygen xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="compound.xsd" version="1.8.1.1">
  <compounddef id="vtkrendering_vtklabelplacementmapper" kind="page">
    <compoundname>vtkrendering_vtklabelplacementmapper</compoundname>
    <title>vtkLabelPlacementMapper</title>
    <detaileddescription>
<para>Section: <ref refid="sec_vtkrendering_1sec_vtkrendering" kindref="member">Visualization Toolkit Rendering Classes</ref> </para><sect1 id="vtkwidgets_vtkxyplotwidget_1Usage">
<title>Usage</title>
<para>To use this mapper, first send your data through vtkPointSetToLabelHierarchy, which takes a set of points, associates special arrays to the points (label, priority, etc.), and produces a prioritized spatial tree of labels.</para><para>This mapper then takes that hierarchy (or hierarchies) as input, and every frame will decide which labels and/or icons to place in order of priority, and will render only those labels/icons. A label render strategy is used to render the labels, and can use e.g. FreeType or Qt for rendering.</para><para>To create an instance of class vtkLabelPlacementMapper, simply invoke its constructor as follows <verbatim>  obj = vtkLabelPlacementMapper
</verbatim> </para></sect1>
<sect1 id="vtkwidgets_vtkxyplotwidget_1Methods">
<title>Methods</title>
<para>The class vtkLabelPlacementMapper has several methods that can be used. They are listed below. Note that the documentation is translated automatically from the VTK sources, and may not be completely intelligible. When in doubt, consult the VTK website. In the methods listed below, <computeroutput>obj</computeroutput> is an instance of the vtkLabelPlacementMapper class. <itemizedlist>
<listitem>
<para><computeroutput>string = obj.GetClassName ()</computeroutput>  </para></listitem>
<listitem>
<para><computeroutput>int = obj.IsA (string name)</computeroutput>  </para></listitem>
<listitem>
<para><computeroutput>vtkLabelPlacementMapper = obj.NewInstance ()</computeroutput>  </para></listitem>
<listitem>
<para><computeroutput>vtkLabelPlacementMapper = obj.SafeDownCast (vtkObject o)</computeroutput>  </para></listitem>
<listitem>
<para><computeroutput>obj.RenderOverlay (vtkViewport viewport, vtkActor2D actor)</computeroutput> - Draw non-overlapping labels to the screen.  </para></listitem>
<listitem>
<para><computeroutput>obj.SetRenderStrategy (vtkLabelRenderStrategy s)</computeroutput> - Set the label rendering strategy.  </para></listitem>
<listitem>
<para><computeroutput>vtkLabelRenderStrategy = obj.GetRenderStrategy ()</computeroutput> - Set the label rendering strategy.  </para></listitem>
<listitem>
<para><computeroutput>obj.SetMaximumLabelFraction (double )</computeroutput> - The maximum fraction of the screen that the labels may cover. Label placement stops when this fraction is reached.  </para></listitem>
<listitem>
<para><computeroutput>double = obj.GetMaximumLabelFractionMinValue ()</computeroutput> - The maximum fraction of the screen that the labels may cover. Label placement stops when this fraction is reached.  </para></listitem>
<listitem>
<para><computeroutput>double = obj.GetMaximumLabelFractionMaxValue ()</computeroutput> - The maximum fraction of the screen that the labels may cover. Label placement stops when this fraction is reached.  </para></listitem>
<listitem>
<para><computeroutput>double = obj.GetMaximumLabelFraction ()</computeroutput> - The maximum fraction of the screen that the labels may cover. Label placement stops when this fraction is reached.  </para></listitem>
<listitem>
<para><computeroutput>obj.SetIteratorType (int )</computeroutput> - The type of iterator used when traversing the labels. May be vtkLabelHierarchy::FRUSTUM or vtkLabelHierarchy::FULL_SORT  </para></listitem>
<listitem>
<para><computeroutput>int = obj.GetIteratorType ()</computeroutput> - The type of iterator used when traversing the labels. May be vtkLabelHierarchy::FRUSTUM or vtkLabelHierarchy::FULL_SORT  </para></listitem>
<listitem>
<para><computeroutput>obj.SetUseUnicodeStrings (bool )</computeroutput> - Set whether, or not, to use unicode strings.  </para></listitem>
<listitem>
<para><computeroutput>bool = obj.GetUseUnicodeStrings ()</computeroutput> - Set whether, or not, to use unicode strings.  </para></listitem>
<listitem>
<para><computeroutput>obj.UseUnicodeStringsOn ()</computeroutput> - Set whether, or not, to use unicode strings.  </para></listitem>
<listitem>
<para><computeroutput>obj.UseUnicodeStringsOff ()</computeroutput> - Set whether, or not, to use unicode strings.  </para></listitem>
<listitem>
<para><computeroutput>bool = obj.GetPositionsAsNormals ()</computeroutput> - Use label anchor point coordinates as normal vectors and eliminate those pointing away from the camera. Valid only when points are on a sphere centered at the origin (such as a 3D geographic view). Off by default.  </para></listitem>
<listitem>
<para><computeroutput>obj.SetPositionsAsNormals (bool )</computeroutput> - Use label anchor point coordinates as normal vectors and eliminate those pointing away from the camera. Valid only when points are on a sphere centered at the origin (such as a 3D geographic view). Off by default.  </para></listitem>
<listitem>
<para><computeroutput>obj.PositionsAsNormalsOn ()</computeroutput> - Use label anchor point coordinates as normal vectors and eliminate those pointing away from the camera. Valid only when points are on a sphere centered at the origin (such as a 3D geographic view). Off by default.  </para></listitem>
<listitem>
<para><computeroutput>obj.PositionsAsNormalsOff ()</computeroutput> - Use label anchor point coordinates as normal vectors and eliminate those pointing away from the camera. Valid only when points are on a sphere centered at the origin (such as a 3D geographic view). Off by default.  </para></listitem>
<listitem>
<para><computeroutput>bool = obj.GetGeneratePerturbedLabelSpokes ()</computeroutput> - Enable drawing spokes (lines) to anchor point coordinates that were perturbed for being coincident with other anchor point coordinates.  </para></listitem>
<listitem>
<para><computeroutput>obj.SetGeneratePerturbedLabelSpokes (bool )</computeroutput> - Enable drawing spokes (lines) to anchor point coordinates that were perturbed for being coincident with other anchor point coordinates.  </para></listitem>
<listitem>
<para><computeroutput>obj.GeneratePerturbedLabelSpokesOn ()</computeroutput> - Enable drawing spokes (lines) to anchor point coordinates that were perturbed for being coincident with other anchor point coordinates.  </para></listitem>
<listitem>
<para><computeroutput>obj.GeneratePerturbedLabelSpokesOff ()</computeroutput> - Enable drawing spokes (lines) to anchor point coordinates that were perturbed for being coincident with other anchor point coordinates.  </para></listitem>
<listitem>
<para><computeroutput>bool = obj.GetUseDepthBuffer ()</computeroutput> - Use the depth buffer to test each label to see if it should not be displayed if it would be occluded by other objects in the scene. Off by default.  </para></listitem>
<listitem>
<para><computeroutput>obj.SetUseDepthBuffer (bool )</computeroutput> - Use the depth buffer to test each label to see if it should not be displayed if it would be occluded by other objects in the scene. Off by default.  </para></listitem>
<listitem>
<para><computeroutput>obj.UseDepthBufferOn ()</computeroutput> - Use the depth buffer to test each label to see if it should not be displayed if it would be occluded by other objects in the scene. Off by default.  </para></listitem>
<listitem>
<para><computeroutput>obj.UseDepthBufferOff ()</computeroutput> - Use the depth buffer to test each label to see if it should not be displayed if it would be occluded by other objects in the scene. Off by default.  </para></listitem>
<listitem>
<para><computeroutput>obj.SetPlaceAllLabels (bool )</computeroutput> - Tells the placer to place every label regardless of overlap. Off by default.  </para></listitem>
<listitem>
<para><computeroutput>bool = obj.GetPlaceAllLabels ()</computeroutput> - Tells the placer to place every label regardless of overlap. Off by default.  </para></listitem>
<listitem>
<para><computeroutput>obj.PlaceAllLabelsOn ()</computeroutput> - Tells the placer to place every label regardless of overlap. Off by default.  </para></listitem>
<listitem>
<para><computeroutput>obj.PlaceAllLabelsOff ()</computeroutput> - Tells the placer to place every label regardless of overlap. Off by default.  </para></listitem>
<listitem>
<para><computeroutput>obj.SetOutputTraversedBounds (bool )</computeroutput> - Whether to render traversed bounds. Off by default.  </para></listitem>
<listitem>
<para><computeroutput>bool = obj.GetOutputTraversedBounds ()</computeroutput> - Whether to render traversed bounds. Off by default.  </para></listitem>
<listitem>
<para><computeroutput>obj.OutputTraversedBoundsOn ()</computeroutput> - Whether to render traversed bounds. Off by default.  </para></listitem>
<listitem>
<para><computeroutput>obj.OutputTraversedBoundsOff ()</computeroutput> - Whether to render traversed bounds. Off by default.  </para></listitem>
<listitem>
<para><computeroutput>obj.SetShape (int )</computeroutput> - The shape of the label background, should be one of the values in the LabelShape enumeration.  </para></listitem>
<listitem>
<para><computeroutput>int = obj.GetShapeMinValue ()</computeroutput> - The shape of the label background, should be one of the values in the LabelShape enumeration.  </para></listitem>
<listitem>
<para><computeroutput>int = obj.GetShapeMaxValue ()</computeroutput> - The shape of the label background, should be one of the values in the LabelShape enumeration.  </para></listitem>
<listitem>
<para><computeroutput>int = obj.GetShape ()</computeroutput> - The shape of the label background, should be one of the values in the LabelShape enumeration.  </para></listitem>
<listitem>
<para><computeroutput>obj.SetShapeToNone ()</computeroutput> - The shape of the label background, should be one of the values in the LabelShape enumeration.  </para></listitem>
<listitem>
<para><computeroutput>obj.SetShapeToRect ()</computeroutput> - The shape of the label background, should be one of the values in the LabelShape enumeration.  </para></listitem>
<listitem>
<para><computeroutput>obj.SetShapeToRoundedRect ()</computeroutput> - The style of the label background shape, should be one of the values in the LabelStyle enumeration.  </para></listitem>
<listitem>
<para><computeroutput>obj.SetStyle (int )</computeroutput> - The style of the label background shape, should be one of the values in the LabelStyle enumeration.  </para></listitem>
<listitem>
<para><computeroutput>int = obj.GetStyleMinValue ()</computeroutput> - The style of the label background shape, should be one of the values in the LabelStyle enumeration.  </para></listitem>
<listitem>
<para><computeroutput>int = obj.GetStyleMaxValue ()</computeroutput> - The style of the label background shape, should be one of the values in the LabelStyle enumeration.  </para></listitem>
<listitem>
<para><computeroutput>int = obj.GetStyle ()</computeroutput> - The style of the label background shape, should be one of the values in the LabelStyle enumeration.  </para></listitem>
<listitem>
<para><computeroutput>obj.SetStyleToFilled ()</computeroutput> - The style of the label background shape, should be one of the values in the LabelStyle enumeration.  </para></listitem>
<listitem>
<para><computeroutput>obj.SetStyleToOutline ()</computeroutput> - The size of the margin on the label background shape. Default is 5.  </para></listitem>
<listitem>
<para><computeroutput>obj.SetMargin (double )</computeroutput> - The size of the margin on the label background shape. Default is 5.  </para></listitem>
<listitem>
<para><computeroutput>double = obj.GetMargin ()</computeroutput> - The size of the margin on the label background shape. Default is 5.  </para></listitem>
<listitem>
<para><computeroutput>obj.SetBackgroundColor (double , double , double )</computeroutput> - The color of the background shape.  </para></listitem>
<listitem>
<para><computeroutput>obj.SetBackgroundColor (double a[3])</computeroutput> - The color of the background shape.  </para></listitem>
<listitem>
<para><computeroutput>double = obj. GetBackgroundColor ()</computeroutput> - The color of the background shape.  </para></listitem>
<listitem>
<para><computeroutput>obj.SetBackgroundOpacity (double )</computeroutput> - The opacity of the background shape.  </para></listitem>
<listitem>
<para><computeroutput>double = obj.GetBackgroundOpacityMinValue ()</computeroutput> - The opacity of the background shape.  </para></listitem>
<listitem>
<para><computeroutput>double = obj.GetBackgroundOpacityMaxValue ()</computeroutput> - The opacity of the background shape.  </para></listitem>
<listitem>
<para><computeroutput>double = obj.GetBackgroundOpacity ()</computeroutput> - The opacity of the background shape.  </para></listitem>
<listitem>
<para><computeroutput>vtkCoordinate = obj.GetAnchorTransform ()</computeroutput> - Get the transform for the anchor points.  </para></listitem>
</itemizedlist>
</para></sect1>
    </detaileddescription>
  </compounddef>
</doxygen>
