<?xml version='1.0' encoding='UTF-8' standalone='no'?>
<doxygen xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="compound.xsd" version="1.8.1.1">
  <compounddef id="vtkvolumerendering_vtkprojectedtetrahedramapper" kind="page">
    <compoundname>vtkvolumerendering_vtkprojectedtetrahedramapper</compoundname>
    <title>vtkProjectedTetrahedraMapper</title>
    <detaileddescription>
<para>Section: <ref refid="sec_vtkvolumerendering_1sec_vtkvolumerendering" kindref="member">Visualization Toolkit Volume Rendering Classes</ref> </para><sect1 id="vtkwidgets_vtkxyplotwidget_1Usage">
<title>Usage</title>
<para>vtkProjectedTetrahedraMapper is an implementation of the classic Projected Tetrahedra algorithm presented by Shirley and Tuchman in &quot;A
 Polygonal Approximation to Direct Scalar Volume Rendering&quot; in Computer Graphics, December 1990.</para><para>.SECTION Bugs This mapper relies highly on the implementation of the OpenGL pipeline. A typical hardware driver has lots of options and some settings can cause this mapper to produce artifacts.</para><para>To create an instance of class vtkProjectedTetrahedraMapper, simply invoke its constructor as follows <verbatim>  obj = vtkProjectedTetrahedraMapper
</verbatim> </para></sect1>
<sect1 id="vtkwidgets_vtkxyplotwidget_1Methods">
<title>Methods</title>
<para>The class vtkProjectedTetrahedraMapper has several methods that can be used. They are listed below. Note that the documentation is translated automatically from the VTK sources, and may not be completely intelligible. When in doubt, consult the VTK website. In the methods listed below, <computeroutput>obj</computeroutput> is an instance of the vtkProjectedTetrahedraMapper class. <itemizedlist>
<listitem>
<para><computeroutput>string = obj.GetClassName ()</computeroutput>  </para></listitem>
<listitem>
<para><computeroutput>int = obj.IsA (string name)</computeroutput>  </para></listitem>
<listitem>
<para><computeroutput>vtkProjectedTetrahedraMapper = obj.NewInstance ()</computeroutput>  </para></listitem>
<listitem>
<para><computeroutput>vtkProjectedTetrahedraMapper = obj.SafeDownCast (vtkObject o)</computeroutput>  </para></listitem>
<listitem>
<para><computeroutput>obj.SetVisibilitySort (vtkVisibilitySort sort)</computeroutput>  </para></listitem>
<listitem>
<para><computeroutput>vtkVisibilitySort = obj.GetVisibilitySort ()</computeroutput>  </para></listitem>
</itemizedlist>
</para></sect1>
    </detaileddescription>
  </compounddef>
</doxygen>
