<?xml version='1.0' encoding='UTF-8' standalone='no'?>
<doxygen xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="compound.xsd" version="1.8.1.1">
  <compounddef id="vtkvolumerendering_vtkunstructuredgridvolumeraycastmapper" kind="page">
    <compoundname>vtkvolumerendering_vtkunstructuredgridvolumeraycastmapper</compoundname>
    <title>vtkUnstructuredGridVolumeRayCastMapper</title>
    <detaileddescription>
<para>Section: <ref refid="sec_vtkvolumerendering_1sec_vtkvolumerendering" kindref="member">Visualization Toolkit Volume Rendering Classes</ref> </para><sect1 id="vtkwidgets_vtkxyplotwidget_1Usage">
<title>Usage</title>
<para>This is a software ray caster for rendering volumes in vtkUnstructuredGrid.</para><para>To create an instance of class vtkUnstructuredGridVolumeRayCastMapper, simply invoke its constructor as follows <verbatim>  obj = vtkUnstructuredGridVolumeRayCastMapper
</verbatim> </para></sect1>
<sect1 id="vtkwidgets_vtkxyplotwidget_1Methods">
<title>Methods</title>
<para>The class vtkUnstructuredGridVolumeRayCastMapper has several methods that can be used. They are listed below. Note that the documentation is translated automatically from the VTK sources, and may not be completely intelligible. When in doubt, consult the VTK website. In the methods listed below, <computeroutput>obj</computeroutput> is an instance of the vtkUnstructuredGridVolumeRayCastMapper class. <itemizedlist>
<listitem>
<para><computeroutput>string = obj.GetClassName ()</computeroutput>  </para></listitem>
<listitem>
<para><computeroutput>int = obj.IsA (string name)</computeroutput>  </para></listitem>
<listitem>
<para><computeroutput>vtkUnstructuredGridVolumeRayCastMapper = obj.NewInstance ()</computeroutput>  </para></listitem>
<listitem>
<para><computeroutput>vtkUnstructuredGridVolumeRayCastMapper = obj.SafeDownCast (vtkObject o)</computeroutput>  </para></listitem>
<listitem>
<para><computeroutput>obj.SetImageSampleDistance (float )</computeroutput> - Sampling distance in the XY image dimensions. Default value of 1 meaning 1 ray cast per pixel. If set to 0.5, 4 rays will be cast per pixel. If set to 2.0, 1 ray will be cast for every 4 (2 by 2) pixels.  </para></listitem>
<listitem>
<para><computeroutput>float = obj.GetImageSampleDistanceMinValue ()</computeroutput> - Sampling distance in the XY image dimensions. Default value of 1 meaning 1 ray cast per pixel. If set to 0.5, 4 rays will be cast per pixel. If set to 2.0, 1 ray will be cast for every 4 (2 by 2) pixels.  </para></listitem>
<listitem>
<para><computeroutput>float = obj.GetImageSampleDistanceMaxValue ()</computeroutput> - Sampling distance in the XY image dimensions. Default value of 1 meaning 1 ray cast per pixel. If set to 0.5, 4 rays will be cast per pixel. If set to 2.0, 1 ray will be cast for every 4 (2 by 2) pixels.  </para></listitem>
<listitem>
<para><computeroutput>float = obj.GetImageSampleDistance ()</computeroutput> - Sampling distance in the XY image dimensions. Default value of 1 meaning 1 ray cast per pixel. If set to 0.5, 4 rays will be cast per pixel. If set to 2.0, 1 ray will be cast for every 4 (2 by 2) pixels.  </para></listitem>
<listitem>
<para><computeroutput>obj.SetMinimumImageSampleDistance (float )</computeroutput> - This is the minimum image sample distance allow when the image sample distance is being automatically adjusted  </para></listitem>
<listitem>
<para><computeroutput>float = obj.GetMinimumImageSampleDistanceMinValue ()</computeroutput> - This is the minimum image sample distance allow when the image sample distance is being automatically adjusted  </para></listitem>
<listitem>
<para><computeroutput>float = obj.GetMinimumImageSampleDistanceMaxValue ()</computeroutput> - This is the minimum image sample distance allow when the image sample distance is being automatically adjusted  </para></listitem>
<listitem>
<para><computeroutput>float = obj.GetMinimumImageSampleDistance ()</computeroutput> - This is the minimum image sample distance allow when the image sample distance is being automatically adjusted  </para></listitem>
<listitem>
<para><computeroutput>obj.SetMaximumImageSampleDistance (float )</computeroutput> - This is the maximum image sample distance allow when the image sample distance is being automatically adjusted  </para></listitem>
<listitem>
<para><computeroutput>float = obj.GetMaximumImageSampleDistanceMinValue ()</computeroutput> - This is the maximum image sample distance allow when the image sample distance is being automatically adjusted  </para></listitem>
<listitem>
<para><computeroutput>float = obj.GetMaximumImageSampleDistanceMaxValue ()</computeroutput> - This is the maximum image sample distance allow when the image sample distance is being automatically adjusted  </para></listitem>
<listitem>
<para><computeroutput>float = obj.GetMaximumImageSampleDistance ()</computeroutput> - This is the maximum image sample distance allow when the image sample distance is being automatically adjusted  </para></listitem>
<listitem>
<para><computeroutput>obj.SetAutoAdjustSampleDistances (int )</computeroutput> - If AutoAdjustSampleDistances is on, the the ImageSampleDistance will be varied to achieve the allocated render time of this prop (controlled by the desired update rate and any culling in use).  </para></listitem>
<listitem>
<para><computeroutput>int = obj.GetAutoAdjustSampleDistancesMinValue ()</computeroutput> - If AutoAdjustSampleDistances is on, the the ImageSampleDistance will be varied to achieve the allocated render time of this prop (controlled by the desired update rate and any culling in use).  </para></listitem>
<listitem>
<para><computeroutput>int = obj.GetAutoAdjustSampleDistancesMaxValue ()</computeroutput> - If AutoAdjustSampleDistances is on, the the ImageSampleDistance will be varied to achieve the allocated render time of this prop (controlled by the desired update rate and any culling in use).  </para></listitem>
<listitem>
<para><computeroutput>int = obj.GetAutoAdjustSampleDistances ()</computeroutput> - If AutoAdjustSampleDistances is on, the the ImageSampleDistance will be varied to achieve the allocated render time of this prop (controlled by the desired update rate and any culling in use).  </para></listitem>
<listitem>
<para><computeroutput>obj.AutoAdjustSampleDistancesOn ()</computeroutput> - If AutoAdjustSampleDistances is on, the the ImageSampleDistance will be varied to achieve the allocated render time of this prop (controlled by the desired update rate and any culling in use).  </para></listitem>
<listitem>
<para><computeroutput>obj.AutoAdjustSampleDistancesOff ()</computeroutput> - If AutoAdjustSampleDistances is on, the the ImageSampleDistance will be varied to achieve the allocated render time of this prop (controlled by the desired update rate and any culling in use).  </para></listitem>
<listitem>
<para><computeroutput>obj.SetNumberOfThreads (int )</computeroutput> - Set/Get the number of threads to use. This by default is equal to the number of available processors detected.  </para></listitem>
<listitem>
<para><computeroutput>int = obj.GetNumberOfThreads ()</computeroutput> - Set/Get the number of threads to use. This by default is equal to the number of available processors detected.  </para></listitem>
<listitem>
<para><computeroutput>obj.SetIntermixIntersectingGeometry (int )</computeroutput> - If IntermixIntersectingGeometry is turned on, the zbuffer will be captured and used to limit the traversal of the rays.  </para></listitem>
<listitem>
<para><computeroutput>int = obj.GetIntermixIntersectingGeometryMinValue ()</computeroutput> - If IntermixIntersectingGeometry is turned on, the zbuffer will be captured and used to limit the traversal of the rays.  </para></listitem>
<listitem>
<para><computeroutput>int = obj.GetIntermixIntersectingGeometryMaxValue ()</computeroutput> - If IntermixIntersectingGeometry is turned on, the zbuffer will be captured and used to limit the traversal of the rays.  </para></listitem>
<listitem>
<para><computeroutput>int = obj.GetIntermixIntersectingGeometry ()</computeroutput> - If IntermixIntersectingGeometry is turned on, the zbuffer will be captured and used to limit the traversal of the rays.  </para></listitem>
<listitem>
<para><computeroutput>obj.IntermixIntersectingGeometryOn ()</computeroutput> - If IntermixIntersectingGeometry is turned on, the zbuffer will be captured and used to limit the traversal of the rays.  </para></listitem>
<listitem>
<para><computeroutput>obj.IntermixIntersectingGeometryOff ()</computeroutput> - If IntermixIntersectingGeometry is turned on, the zbuffer will be captured and used to limit the traversal of the rays.  </para></listitem>
<listitem>
<para><computeroutput>obj.SetRayCastFunction (vtkUnstructuredGridVolumeRayCastFunction f)</computeroutput> - Set/Get the helper class for casting rays.  </para></listitem>
<listitem>
<para><computeroutput>vtkUnstructuredGridVolumeRayCastFunction = obj.GetRayCastFunction ()</computeroutput> - Set/Get the helper class for casting rays.  </para></listitem>
<listitem>
<para><computeroutput>obj.SetRayIntegrator (vtkUnstructuredGridVolumeRayIntegrator ri)</computeroutput> - Set/Get the helper class for integrating rays. If set to NULL, a default integrator will be assigned.  </para></listitem>
<listitem>
<para><computeroutput>vtkUnstructuredGridVolumeRayIntegrator = obj.GetRayIntegrator ()</computeroutput> - Set/Get the helper class for integrating rays. If set to NULL, a default integrator will be assigned.  </para></listitem>
<listitem>
<para><computeroutput>obj.CastRays (int threadID, int threadCount)</computeroutput>  </para></listitem>
</itemizedlist>
</para></sect1>
    </detaileddescription>
  </compounddef>
</doxygen>
