<?xml version='1.0' encoding='UTF-8' standalone='no'?>
<doxygen xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="compound.xsd" version="1.8.1.1">
  <compounddef id="vtkwidgets_vtkwidgetcallbackmapper" kind="page">
    <compoundname>vtkwidgets_vtkwidgetcallbackmapper</compoundname>
    <title>vtkWidgetCallbackMapper</title>
    <detaileddescription>
<para>Section: <ref refid="sec_vtkwidgets_1sec_vtkwidgets" kindref="member">Visualization Toolkit Widget Classes</ref> </para><sect1 id="vtkwidgets_vtkxyplotwidget_1Usage">
<title>Usage</title>
<para>vtkWidgetCallbackMapper maps widget events (defined in vtkWidgetEvent.h) into static class methods, and provides facilities to invoke the methods. This class is templated and meant to be used as an internal helper class by the widget classes. The class works in combination with the class vtkWidgetEventTranslator, which translates VTK events into widget events.</para><para>To create an instance of class vtkWidgetCallbackMapper, simply invoke its constructor as follows <verbatim>  obj = vtkWidgetCallbackMapper
</verbatim> </para></sect1>
<sect1 id="vtkwidgets_vtkxyplotwidget_1Methods">
<title>Methods</title>
<para>The class vtkWidgetCallbackMapper has several methods that can be used. They are listed below. Note that the documentation is translated automatically from the VTK sources, and may not be completely intelligible. When in doubt, consult the VTK website. In the methods listed below, <computeroutput>obj</computeroutput> is an instance of the vtkWidgetCallbackMapper class. <itemizedlist>
<listitem>
<para><computeroutput>string = obj.GetClassName ()</computeroutput> - Standard macros.  </para></listitem>
<listitem>
<para><computeroutput>int = obj.IsA (string name)</computeroutput> - Standard macros.  </para></listitem>
<listitem>
<para><computeroutput>vtkWidgetCallbackMapper = obj.NewInstance ()</computeroutput> - Standard macros.  </para></listitem>
<listitem>
<para><computeroutput>vtkWidgetCallbackMapper = obj.SafeDownCast (vtkObject o)</computeroutput> - Standard macros.  </para></listitem>
<listitem>
<para><computeroutput>obj.SetEventTranslator (vtkWidgetEventTranslator t)</computeroutput> - Specify the vtkWidgetEventTranslator to coordinate with.  </para></listitem>
<listitem>
<para><computeroutput>vtkWidgetEventTranslator = obj.GetEventTranslator ()</computeroutput> - Specify the vtkWidgetEventTranslator to coordinate with.  </para></listitem>
<listitem>
<para><computeroutput>obj.InvokeCallback (long widgetEvent)</computeroutput> - This method invokes the callback given a widget event. A non-zero value is returned if the listed event is registered.  </para></listitem>
</itemizedlist>
</para></sect1>
    </detaileddescription>
  </compounddef>
</doxygen>
